<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Controller 2</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

  <!--
    EN ESTE EJEMPLO VEREMOS LAS CLASES DE DIR5ECTIVAS SIMPLES QUE HAY EN EL MUNDO DE ANGULAR JS
  -->

</head>
<body style="background: silver">
  <div class="" ng-controller="myCtrl">
    <h2>Ejemplo de Controladores</h2>
    <p ng-bind="titulo"></p>
    <form method="post">
      Nombre : <input type="text" placeholder="Nombre Completo ... " ng-model="nombre">
      Apellido : <input type="text" placeholder="Apellido Completo ... " ng-model="apellido">
      <br>
      <hr>
      <strong>el nombre completo es {{funcion()}}</strong>
    </form>
  </div>

  <script type="text/javascript">
    var app = angular.module('myApp', []);

    app.controller('myCtrl', function($scope) {
      $scope.titulo = "Este es un ejemplo con Controladores.";
      $scope.nombre = "Nombre";
      $scope.apellido = "Apellido}";

      $scope.funcion = function(){
        return $scope.nombre+" "+$scope.apellido;
      }

    });

  </script>
</body>
</html>
